@charset "UTF-8";
/* 기본 레이아웃 */
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
}

html{
    background-color: rgb(240, 242, 245);
}

a{
    text-decoration: 0;
    color: black;
}

ul, ol{
    list-style-type: none;
}

.container{
    width: 600px; height: 400px;
    margin: 50px auto;
    position: relative;
}

/* 인풋 공통 레이아웃 작업 */

/* 
text input 
크기, 배경색, 테두리, 커서
*/
input[type="text"]{
    width: 280px; height: 40px;
    padding-left: 15px;
    background-color: rgb(232, 240, 254);
    border: 2px solid rgb(0, 0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}

input[type="text"]:focus{
    background-color: #91c7fa;
    box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
    outline: none;
}

.wrap{
    width: 600px; height: 400px;
    position: relative;
}

.container label{
    display: block;
    padding-bottom: 20px;
}


.input_wrap{
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
}

/* ID 박스 */
#id_box{
    position: absolute;
    z-index: 2;
}

#findId_btn[type="button"]{
    width: 280px; height: 80px;
    margin-right: 35.1px;
    background-color: white;
    border: none;
    border-radius: 30px 30px 0 0;
    cursor: pointer;
}

#id_box > .form_box{
    width: 100%; height: 100%;
    background-color: white;
    border-radius: 0 0 30px 30px;
}

/* PW 박스 */

#findPw_btn[type="button"]{
    width: 280px; height: 80px;
    background-color: lightgray;
    border: none;
    border-radius: 30px 30px 0 0;
    cursor: pointer;
}

#pw_box > .form_box{
    width: 100%; height: 100%;
    background-color: lightgray;
    border-radius: 30px 30px 30px 30px;
}

#pw_box{
    position: absolute;
    z-index: 1;
}

/* 이메일 인증 박스 defualt */
.input_wrap{
    width: 450px;
}

.input_wrap input[type=text]{
    width: 450px; height: 45px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.input_wrap > input[type=button]{
    display: none;
    width: 23%; height: 45px;
    background: linear-gradient(#ff6e56,#ff3268);
    border-radius: 10px;
    font-size: 12px;
    color: white;
    outline: none;
}

#authCode_box > input[type=text]{
    width: 75%; height: 45px;
    border-radius: 10px;
    margin-bottom: 5px;
}

#authCode_box > input[type=button]{
    width: 23%; height: 45px;
    background: linear-gradient(#ff6e56,#ff3268);
    border-radius: 10px;
    font-size: 12px;
    color: white;
    outline: none;
}

.email_box > #email_check_box{
    display: block;
}

#authCode_box{
    width: 450px;
    display: none;
}