@charset "UTF-8";
/* 기본 레이아웃 */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#chat_btn {
	border-bottom: 8px solid #fe4662;
}

#chat_icon {
	color: #fe4662;
}

.board_container {
	width: 100%;
	margin-top: 100px;
}

/* body */
body {
	background-color: #fafafa;
}
.header {
	margin-top: 130px;
}
