@charset "UTF-8";
/* 기본 레이아웃 */
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
}

html{
    background-color: rgb(240, 242, 245);
}

a{
    text-decoration: 0;
}

ul, ol{
    list-style-type: none;
}

.no_board{
	margin-top: 30px;
	text-align: center;
	font-size: 24px;
}
.no_board > h1{font-size: 24px;}

/* section */
section{
    display: block;
    width: 560px;
    margin: 0 auto;
}

/* 상단 유저를 표식 */
.user_box{
    display: flex;
    margin: 20px 0 5px 0;
    width: 100%; height: 150px;
    border-bottom: 1px solid gray;
}

/* 유저 프로필 이미지 */
.user_img_box{
    width: 100px; height: 150px;
    border: none;
}

/* 유저 이미지 size만 지정 */
.user_img_box > a{
    display: flex;
    border: 1px solid gray;
    margin: 10px;
    width: 80px; height: 80px;
    border-radius: 50%;
    font-size: 0;
}

/* 게시물, 팔로워, 팔로잉, 자기소개 */
.user_item_box{
    display: flex;
    flex-direction: column;
    width: 360px; height: 150px;
}

.user_item_box > span{
    display: block;
    margin: 10px;
    font-size: 18px;
}

.follower_box{color: gray;}

.follower_box > input[type="button"]{
    border: none;
    display: inline-block;
    color: gray;
    font-size: 14px;
    font-weight: 900;
    padding: 10px 0 0 10px;
    cursor: pointer;
}

.follower_box > label{cursor: pointer; padding-right: 30px;}

.content_box{
    display: flex;
    width: 100%;
}

.content_box > textarea{
    width: 100%;
    background-color: rgb(240, 242, 245);
    padding-top: 15px;
    font-size: 13px;
    border: none;
    resize: none;
    outline: none;
}

/* 프로필 설정 */
.profile_setup_box{
    width: 100px; height: 100%;
}

#profile_setup{
    margin: 10px 4px 0 0;
    width: 96px; height: 35px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px  ;
    cursor: pointer;
}

/* 사용자의 게시물 */
.board_container{
    display: block; margin: 0 auto;
    border-radius: 10px;
    border: 1px solid pink;
    background-color: #ffffff;
    box-shadow: 10px 10px 20px rgb(30 30 30 / 50%);
    width: 560px;
}

.board_wrap{
    width: 560px;
}

.board_head{
    display: flex;
    width: 100%; height: 80px;
}

/* 유저 사진 */
.board_intro{
    display: inline-block;
    width: 80px; height: 100px;
    padding: 10px;
}

.board_intro > a{
    display: block;
    width: 60px; height: 60px;
    border-radius: 50%;
    background-color: black;
    background-image: url(/dog.jpg);
    background-size: 60px 60px;
    font-size: 0;
}

/* 이름 */
.user_id{
    display: inline-block;
    width: 420px; height: 80px;
    padding: 10px;
}

#board_writer{
    font-size: 18px;
    font-weight: 900;
}

.fa-cog{
    font-size: 25px;
    color: gray;
}

.btn_box{
    display: inline-block;
    margin: 10px 10px 0 0;
    width: 60px; height: 80px;
}

.btn_box > a{
    display: block;
    margin-left: 35px;
    width: 25px; height: 25px;
}


.fa-map-marker-alt{
	font-size: 15px;
    color: #fe4662;
}

/* 게시글 1개 board_body */
.board_body{
    display: block;
    margin: 10px 0 10px 0;
    padding-bottom: 10px;
    width: 560px;
}

.addrAndMap{
    display: block;
    text-align: right;
    margin-right: 10px;
}

.content{
    display: block;
    margin-top: 5px;
    width: 100%; height: 100%;
}

.content > textarea{
    display: block;
    width: 556px; height: 100px;
    background-color: #ffffff;
    padding: 5px 0 5px 15px;
    border: none;
    resize: none;
    outline: none;
}

/* 이미지/ 비디오 사이즈 */
.imgSize {
    display: block;
    margin: 0 auto;
	width: 480px;
	overflow: hidden;
}

#image, #video {
	width: 480px;
	overflow: hidden;
}



/* 좋아요/ 댓글 */

.like_reply_btn{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.like_box, .reply_box{
    display: inline-block;
    position: relative;
    width: 160px; height: 35px;
    margin-left: 30px;
    padding: 5px 0 5px 0;
}

.box > label{
    display: inline-flex;
    position: absolute;
    padding-left: 30px;
    width: 30px; height: 30px;
}

.box > label:hover{
    cursor: pointer;
}

#like_btn, #reply_btn{
    position: absolute;
    left: -99999px;
}